/*body { font-size: 20px;}*/
/* Estilos para Tabletas y PC (ej. menos de 1024px) */
@media (max-width: 1024px) {
    body{font-size: 20px}
}
/* Estilos para Móviles (ej. menos de 768px) */
@media (max-width: 768px) {
    
    body { background-color:white; font-size: 20px; } /* Reduce texto */
    h1{text-align: center;}
    h2{text-align: center;}
    hr{color:black; border: 3px solid;}
    #menu li:nth-child(2) {background-color: blue;}
}
